
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/lesson-04/01.jpg
/lesson-04/02.jpg
/lesson-04/03.jpg
/lesson-04/04.jpg
/lesson-04/05.jpg
/lesson-04/06.jpg